@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
    /* content: ""; */
    position: absolute;
    background: url('./assets/image1.png')no-repeat center fixed;
    height: 100%;
    width: 100%;
}